@import "mixins";
#sliderShow{
    @include elementSize($bothParameter:true, $widthValue:90em);
}

.slides{
    height:35em;
    overflow: hidden;
}
.img--an{
    display:none;
    margin-top: 25%;
}
.section{
    @include elementSize($bothParameter:false, $widthValue:100%);
    position: absolute;
    // left: 200px;
    flex-direction: column;
    // align-items: start;
    z-index: 50;
}
.section__header{
    align-items: baseline;
    width: 35%;
    justify-content: flex-start;
}
.section__article{
    @include elementSize($bothParameter:false, $widthValue:35%); 
    background-color : $backgroundColor;
    position: absolute;
    margin: 30% 0% 0% 0%;
    flex-direction: column;
    align-items: start;
}
.animals{
    position: absolute;
    // z-index: 10;
}

@media only screen and (max-width:$layout-breakpoint-normal){
    .section__article{
        width: 70%;
        margin: 35% 0 0 0;
    }
    .section__header{
        width: 70%;
    }
}
@media only screen and (max-width :$layout-breakpoint-semi-normal){
    .section__article{
        margin: 45% 0 0 0;
    }
}
@media only screen and (max-width: $layout-breakpoint-semi-medium) {
    .section__article{
        margin: 60% 0 0 0;
    }
}
@media only screen and (max-width: $layout-breakpoint-medium) {

    #sliderShow{
        width: 100%;
    }
    .slides{
        width: 100%;
    }
    .img--an{
    margin-top: -30%;
    position: relative;
    right: 150px;
    width: 130%;
}
.section{
    left: 0;
    width: 100%;
}
.section__header{
    margin: -10em 0 0 0;
    padding: 0 0 0 1em;
    width: 100%;
}
.section__article{
    width: 100%;
    margin: 21em 0 0 0;
}
}
