@mixin borderSettings($radiusRange) {
    border-radius: $radiusRange;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
    border: 2px solid white;
    cursor: pointer;
}
@mixin elementSize($bothParameter,$widthValue) {
    @if $bothParameter {
        height: 100%;
        width: $widthValue;
    } @else{
        width: $widthValue;
    }
}