@import "mixins";

//@media only screen and (min-width:$layout-breakpoint-normal){
.nav{
    margin: 10%;
    z-index: 100;
}
.labels{
    @include elementSize($bothParameter:false,$widthValue:40%);
    position: absolute;
    justify-content: space-between;
    width: 40%;
}
.label{
    @include borderSettings(50%);
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
}
.input{
    display: none;
}
button{
    @include borderSettings(10%);
    background-color: $backgroundColor;
    color: $textColor;
    padding: 1%;
    width: 5%;
}
.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    padding: 5%;
}
@media all and (max-width: $layout-breakpoint-semi-medium) {
    .nav{
        margin: 20%;
    }
}
//}
@media all and (max-width: $layout-breakpoint-medium) {
    .nav{
        display: none;
    }
    .buttonContainer{
        justify-content: center;
        padding: 0%;
    }
    button{
        @include borderSettings(0%);
        width: 50%;
        height: 5em;
    }
}
