#sliderShow {
  height: 100%;
  width: 90em;
}

.slides {
  height: 35em;
  overflow: hidden;
}

.img--an {
  display: none;
  margin-top: 25%;
}

.section {
  width: 100%;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 50;
}

.section__header {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 35%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section__article {
  width: 35%;
  background-color: rgba(53, 53, 53, 0.55);
  position: absolute;
  margin: 30% 0% 0% 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.animals {
  position: absolute;
}

@media only screen and (max-width: 1280px) {
  .section__article {
    width: 70%;
    margin: 35% 0 0 0;
  }
  .section__header {
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .section__article {
    margin: 45% 0 0 0;
  }
}

@media only screen and (max-width: 780px) {
  .section__article {
    margin: 60% 0 0 0;
  }
}

@media only screen and (max-width: 640px) {
  #sliderShow {
    width: 100%;
  }
  .slides {
    width: 100%;
  }
  .img--an {
    margin-top: -30%;
    position: relative;
    right: 150px;
    width: 130%;
  }
  .section {
    left: 0;
    width: 100%;
  }
  .section__header {
    margin: -10em 0 0 0;
    padding: 0 0 0 1em;
    width: 100%;
  }
  .section__article {
    width: 100%;
    margin: 21em 0 0 0;
  }
}

.nav {
  margin: 10%;
  z-index: 100;
}

.labels {
  width: 40%;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.label {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
  border: 2px solid white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: whitesmoke;
}

.input {
  display: none;
}

button {
  border-radius: 10%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
  border: 2px solid white;
  cursor: pointer;
  background-color: rgba(53, 53, 53, 0.55);
  color: white;
  padding: 1%;
  width: 5%;
}

.buttonContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 100;
  padding: 5%;
}

@media all and (max-width: 780px) {
  .nav {
    margin: 20%;
  }
}

@media all and (max-width: 640px) {
  .nav {
    display: none;
  }
  .buttonContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0%;
  }
  button {
    border-radius: 0%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
    border: 2px solid white;
    cursor: pointer;
    width: 50%;
    height: 5em;
  }
}

body * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'PT Sans', sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 90%;
  position: absolute;
  z-index: 10;
  top: 1%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialMedia {
  color: white;
  font-size: 30px;
}

.socialMedia div {
  cursor: pointer;
  z-index: 10;
}

.logo__icon {
  color: white;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2%;
  height: 100%;
  width: 100%;
}

.slide {
  height: 100%;
  width: 100%;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.activeSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h1 {
  color: white;
  font-size: 100px;
}

.h2 {
  color: white;
  font-weight: 100;
  cursor: pointer;
}

.h3 {
  color: white;
  font-weight: 100;
  z-index: 10;
  padding: 0% 3% 0% 3%;
}

.h4 {
  background-color: white;
  color: black;
  padding: 1%;
  margin: 0% 0% 10% 3%;
  cursor: pointer;
  z-index: 10;
}

.img--bg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  position: fixed;
}

@media only screen and (max-width: 640px) {
  header {
    width: 100%;
    left: 0px;
  }
  main {
    width: 100%;
    margin-top: 10%;
  }
}
/*# sourceMappingURL=style.css.map */