$backgroundColor : rgba(53, 53, 53, 0.55);
$textColor :white;
$mainFontWeight : 100;
$iconSize : 30px;
$layout-breakpoint-small: 360px;
$layout-breakpoint-semi-medium: 780px;
$layout-breakpoint-medium: 640px;
$layout-breakpoint-semi-normal: 1000px;
$layout-breakpoint-normal: 1280px;
@import 'mainSlider'; 
@import "navigation";
@import 'mixins';
body *{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}
//@media only screen and (min-width: $layout-breakpoint-normal){


html{
    @include elementSize(true, 100%);
}
body{
    @include elementSize($bothParameter:true, $widthValue:100%);
    display: flex;
    margin: 0;
    overflow-x: hidden;
}
header{
    @include elementSize($bothParameter:false, $widthValue:90%);
    position: absolute;
    z-index: 10;
    top: 1%;
    justify-content: space-between;
}
.socialMedia{
    color: $textColor;
    font-size: $iconSize;
    div{
        cursor: pointer;
        z-index: 10;
    }
}
.logo__icon{
    color: $textColor;
    font-size: $iconSize;
    cursor: pointer;
    transition-duration: 0.8s;
    transform: rotateY(0deg);
}
main{
    display: flex;
    position: absolute;
    flex-direction:column;
    padding-top: 2%;
    height: 100%;
    width: 100%;
}
.slide{
    @include elementSize($bothParameter:true, $widthValue:100%);
    display: none;
    justify-content: end;
}
.activeSlide{
    display: flex;
}
.h1{
    color: $textColor;
    font-size: 100px;
}
.h2{
    color: $textColor;
    font-weight: $mainFontWeight;
    cursor: pointer;
}
.h3{
    color: $textColor;
    font-weight: $mainFontWeight;
    z-index: 10;
    padding: 0% 3% 0% 3%;
}
.h4{
    background-color: white;
    color: black;
    padding: 1%;
    margin: 0% 0% 10% 3%;
    cursor: pointer;
    z-index: 10;
}
.img--bg{
    @include elementSize($bothParameter:true, $widthValue:100%);
    object-fit: cover;
    background-position: center;
    position: fixed;
}
//}
@media only screen and (max-width: $layout-breakpoint-medium) {

    header{
        width: 100%;
        left: 0px;
    }
    main{
        width: 100%;
        margin-top: 10%;
        // padding-top: 20%;
    }
}
@media only screen and (max-width :$layout-breakpoint-semi-normal){
    
}
@media only screen and (max-width :$layout-breakpoint-normal){
    
}